*.class

# Package Files #
*.war
*.ear

/android/CaelumEngineAndroid/bin/*

/cpp/*

/java/.metadata/.log
/java/.metadata/.plugins/*
/java/.metadata/.mylyn/*

/java/CaelumEngine/bin/*
/java/cCaelumEngine/*
/java/CaelumEngine/test/*
/java/CaelumEngine/log.txt
/java/CaelumEngine/replacements.txt

/java/CaelumEngineLWJGL/bin/*
