*.class

*.iml

# Package Files #
*.war
*.ear
*.log

/.idea/*
/.settings/*
/bin/*
/build/*
/builds/*
/lib/*

# THIS HAS TO BE LIKE THIS!
# WITHOUT the slash at the end!
# Failure to comply will result in
# your immediate transfer to Mordor!
!/lib/lwjgl
!/lib/java/lwjgl

.cache
.classpath
.cproject
.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
