*.class

# Package Files #
*.war
*.ear
*.log

/.gradle/*
/build/*
/builds/*
/*/*/bin/*
/cpp/*
/TEST/*

/.metadata/.plugins/*
/.metadata/.mylyn/*

/java/CaelumEngine/log.txt
/java/CaelumEngine/replacements.txt
